export ASAN_OPTIONS=strict_string_checks=1:detect_stack_use_after_return=1:check_initialization_order=1:strict_init_order=1:detect_invalid_pointer_pairs=2:verbosity=1:malloc_context_size=100
PATH="/opt/homebrew/opt/coreutils/libexec/gnubin:$PATH"
PATH="$HOMEBREW_PREFIX/opt/make/libexec/gnubin:$PATH"
#export PATH=/scratch/tianruiwei/formal/staging/VossII/bin:$PATH
export PATH="/opt/homebrew/opt/llvm/bin:$PATH"
#export PATH=$PATH:/Users/tianruiwei/research/fuzzing/tools/bin
export PATH=$PATH:/Users/tianruiwei/research/install/bin
export PATH="/opt/homebrew/opt/flex/bin:$PATH"
export PATH="/opt/homebrew/opt/bison/bin:$PATH"
